.aside {
  margin: 5px;

  @include phones {
    display: none;
  }
}

.aside-main {
  padding: 10px;
}

.aside-main_link {
  display: block;
}

.aside-main__label {
  height: 25px;
  background-color: lightgray;
  resize: none;
  color: black;
}

.aside__header {
  padding: 10px;
}
