.aside {
  margin: 5px;
}

.aside__main {
  padding: 10px;
}

.aside_link {
  display: block;
}

.aside__label {
  height: 25px;
  background-color: lightgray;
  resize: none;
  color: black;
}

.aside__header {
  padding: 10px;
}
