.carousel__sliderImg {
  width: 100%;
  height: 100%;
  border: black 1px solid;
  position: relative;
  z-index: 0;
}

.carousel__list {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //flex-direction: row;
  height: 100%;
  border: black 1px solid;
}

/* Next & previous buttons */
.previous,
.next {
  cursor: pointer;
  top: 85%;
  //width: 20%;
 // padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #2cc06b;
  z-index: 99;
  color: black;

  border: black 1px solid;
  bottom: 0px;
  top: 0px;

 // position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.next {
  left: 3%;
  //bottom: -50%;
  border-radius: 3px 0 0 3px;
  //margin-right: auto;
 // margin-right: 100px;
  //position: relative;
  //padding-left: 20px;
  z-index: 99;
  width: 10%;
  //padding-left: 10px;
  z-index: 99;
  position: relative;
  display: block;


}

.previous{
  right: 92%;
  border-radius: 3px 0 0 3px;
  margin-left: auto;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn {
  position: relative;
  top: 0%;
  left: 10%;
  //transform: translate(-50%, -50%);
 // -ms-transform: translate(-50%, -50%);
  background-color: #aaaaaa;

  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 9;
}