.main {
  width: 100%;
  overflow: auto;
  flex-direction: column;
  height: 100%;
  display: flex;

  @include pads {
    overflow-x: hidden ;
  }

}

.mainPosts {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 10px;
  justify-content: end;
}

.mainFooter {
  display: flex;
  flex-flow: row;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.mainFooter a {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  text-decoration: none;
}
