<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>список</title>
  </head>
  <body>
  <%= require('html-loader?{"attributes": false}!./parts/head.html') %>
 <div class='container'>
   <%= require('html-loader?{"attributes": false}!./parts/sidebar.html') %>
  <div class="page">


    <main class='main'>
    <%=
      require('html-loader?{"attributes": false}!./parts/posts.html') %>
      </main>
    </div>

  </div>
  <%=
  require('html-loader?{"attributes": false}!./parts/footer.html') %>
  </body>
</html>
